:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --logo-header-color: #000000;
  --background-color: #f5f4fa;
  --background-color-header: #ffffff;
  --background-color-footer: #2f303a;
  --color-icon: #afb1b8;
}

$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway";
